<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    stopOnFailure="true "
>

    <testauits>

        <testauit name="unit">
            
            <directory>
                test
            </directory>

        </testauit>


    </testauits>

</phpunit>